<% if errors %>

  <div id="errors">
  
    <p><%= errors %></p><br />

  </div>

<% end %>

<form id="login" action="/login" method="POST">

  <p>Username:</p>

  <p><input type="text" name="email"></p>

  <p>Password:</p>

  <p><input type="text" name="password"></p>
  
  <p><input type="submit" value="Login"></p>

</form>

<p><a href="/user/new" onclick="<% session.clear %>">Register</a></p>
